
<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Kayıt Form</h3>
                <div class="login-agileits-top">
                    <form method="post">
                        <input type="text" class="name" name="CustomerName" Placeholder="Müşteri Adı" required="" />
                        <input type="text" class="name" name="CustomerLastname" Placeholder="Müşteri Soyadı" required="" />
                        <input type="text" class="name" name="CustomerCity" Placeholder="Müşteri Şehri" required="" />
                        <input type="email" class="email" name="CustomerMail" Placeholder="Email" required="" />
                        <input type="password" class="password" name="CustomerPassword" Placeholder="Password" required="" />
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum<a href="#">&amp; Kabul Ediyorum</a></label>
                        </div>
                        <input type="submit" value="Kayıt Ol">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>