@using MvcOnlineOtomasyon.Models.Concrete
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="form-group">
        <table class="table table-bordered" style="margin-top:10px;">
            <tr>
                <th>Id</th>
                <th>Departman Adı</th>
                <th>Sil</th>
                <th>Güncelle</th>
                <th>Detay</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.DepartmentId</td>
                    <td>@x.DepartmentName</td>
                    <td><a class="btn btn-outline-primary" href="/Department/Delete/@x.DepartmentId" id="DeleteBtn" onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="fas fa-trash"></i> Sil</a></td>
                    <td><a class="btn btn-outline-warning" href="/Department/Update/@x.DepartmentId"><i class="fas fa-pen-square"></i> Güncelle</a></td>
                    <td><a class="btn btn-outline-danger" href="/Department/Detail/@x.DepartmentId"><i class="fas fa-info-circle"></i> Detay</a></td>


                </tr>

            }
        </table>
    </div>
        <div class="form-group">
            <a class="btn btn-success float-right" href="/Department/Add"><i class="fas fa-plus-circle"></i> Yeni Departman Ekle</a>
        </div>
    </div>

