@model MvcOnlineOtomasyon.Models.Concrete.Personel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <h2>Personel Güncelleme Sayfası</h2>
    @using (Html.BeginForm("Update", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="form-group">
            @Html.HiddenFor(x => x.PersonelId)
        </div>
        <div class="form-group">
            <label><b>Personel Adı</b></label>
            @Html.TextBoxFor(x => x.PersonelName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label><b>Personel Soyadı</b></label>
            @Html.TextBoxFor(x => x.PersonelLastName, new { @class = "form-control" })
        </div> <div class="form-group">
            <label><b>Personel Foto</b></label>
            @*@Html.TextBoxFor(x => x.PersonelPhoto, new { @class = "form-control" })*@
            <input type="file" name="PersonelPhoto" class="form-control float-right" />
        </div> <div class="form-group">
            <label><b>Personel Adı</b></label>
            @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <button class="btn btn-outline-warning float-right">Güncelle</button>
            <a href="/Personel/Index" class="btn btn-outline-danger">Vazgeç</a>
        </div>
    }
</div>

